*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
}

/* Put a selector here to select div elements (see index.html). */
div {
  font-family: cursive;
  padding: 8px;
  height: 150px;
  background-color: hotpink;
  color: white;
  border-radius: 8px;
  align-items: center;
}